/*.content {
  text-align: left;

  color: #fff;
  background-color: #26282e;
  display: flex;
  flex-direction: row;
}
.sider {
  color: #ffffff;
  background-color: #00152a !important;
}*/
.footer {
  text-align: center;
  color: #dddddd;
  background-color: #00152a;
}
html {
  background-color: #00152a;
}
