.header {
  color: #fff;
  height: 5rem;
  line-height: 2.5rem;
  background-color: #00152a;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  padding: 0.5em;
  height: 5rem;
}
