.input_selector {
  padding: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.left_content {
  padding: 8%;
  padding-top: 10%;
  align-items: flex-start;
  min-width: 300px;
  row-gap: 110px;
  display: flex;
  flex-direction: column;
}

.output_divider {
  min-width: 300px;
  align-items: center;
  padding: 2%;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
}
.input_title {
  font-size: 120%;
  max-height: 20px;
  font-weight: bold;
  margin: 0px;
  margin-top: 2px;
}
