.input_selector {
  padding: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.input_divider {
  gap: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5%;
}

.left_content {
  padding: 8%;
  padding-top: 10%;
  align-items: flex-start;
  min-width: 300px;
  row-gap: 110px;
  display: flex;
  flex-direction: column;
}

.output_divider {
  min-width: 300px;
  align-items: center;
  padding: 2%;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
}
.input_title {
  font-size: 120%;
  max-height: 1em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2.5em;
}

.Red {
  background: red;
  color: white;
  width: 200px;
}
.Green {
  background: green;
  color: white;
  width: 200px;
}
.Blue {
  background: blue;
  color: white;
  width: 200px;
}

@media screen and (max-width: 602px) {
  .colTest {
    flex: 100% !important;
  }
}
